html, body {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
header {
  width: 100%;
  height: 5000px;
  color: #BBB;
  /*color è riferito al colore del testo*/
  background-color: #111;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.navBar {
  width: 100%;
  height: 120px;
  background-color: crimson;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
.navBar ul a {
  border: solid 10px black;
 }
.navSocial {
  width: 100%;
  height: 120px;
  background-color: crimson;
  position: fixed;
  bottom: 0;
}
.navSocial ul a {
  border: solid 10px black;
}
.navBar ul,
.navSocial ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1 {
  position: absolute;
  left: 50px
  margin: 0;
  right: 0;
  top: 1000px;
  font-family: "Century Gothic";
  font-size: 100px;
}
h2{
  position: relative;
  left: 50px;
  margin: 0px;
  padding: 0px;
}

.navbar-title {
  width 50%;
}

.navBar ul{
  position: absolute;
  right: 50px;
}
